body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(82, 80, 80);
  background-color: rgb(255, 255, 255);
}

header{
  background-color: rgb(201, 234, 247);
  height: 100px;
}

#logoSalmon{
  width: 200px;
  padding: 15px;
  margin: auto 0px auto 70px;
  float: left;
}

main{
  width: 960px;
  margin: auto;
  
}

h1{
  font-family: 'The Girl Next Door', cursive;
  text-align: center;
  font-size: 80px;
  color: rgb(224, 108, 0);
}

h2{
  text-align: center;
}
h4{
  font-size: 25px;
}

section{
  border: 1px ;
  width: 100%;
  overflow: auto;
}

.box{
  width: 250px;
  padding: 30px; 
  float: left;
  border-radius: 15px;
}

.box:hover{
  background-color: rgb(201, 234, 247);
}


/* .column{
  width: 300px;
  float: left;
  margin: 10px;
  color: white;
} */
footer{
  color: white;
  background-color: rgb(44, 43, 43);
  height: 100px;
  text-align: center;
  margin-top: 50px;
  padding: 100px;
}

li{
  display: inline;
  padding: 40px;
}

a {
  color: white;
  text-decoration: none;

}

a:hover{
  color: salmon;
}